.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__item {
  margin-top: 15px;
}
