.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 90px 30px;
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/page-one/bg-image-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/page-one/bg-image-tel2x.jpg);
  }
  @media screen and (min-width: 480px) {
    padding: 118px 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/page-one/bg-image-tab.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/page-one/bg-image-tab2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/page-one/bg-image.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/page-one/bg-image2x.jpg);
    }
  }
}

.hero__tittle {
  margin-bottom: var(--standard-margin);
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  @media screen and (min-width: 480px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 32px;
}
