.contacts-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts-list__link {
  display: inline-flex;

  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--standard-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
