.header {
  border-bottom: var(--border-style);
}

.header__logo {
  margin-left: 0;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__span--dark {
  color: #000000;
}

.no-scroll {
  overflow: hidden;
}
