.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__logo {
  margin-left: 15px;
}

.header__span--dark {
  color: #000000;
}

.menu-btn {
  display: inline-flex;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
