.social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: -10px;
  @media screen and (min-width: 480px) {
    flex-wrap: nowrap;
    margin-left: -20px;
  }
}

.social__item {
  margin-left: 10px;
  @media screen and (min-width: 480px) {
    margin-left: 20px;
  }
}

.social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  @media screen and (min-width: 480px) {
    padding-right: 20px;
  }
}

.social__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
