.modal {
  padding: 25px;
  width: 450px;
  height: 510px;
  background-color: #fff;
  border-radius: 4px;

  opacity: 1;
  @media screen and (min-width: 480px) {
    height: 609px;
    padding: 40px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--standard-duration) var(--timing-function),
      opacity var(--standard-duration) var(--timing-function);
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}
